include LICENSE
include README.md
include eth_account/typed_transactions/blob_transactions/kzg_trusted_setup.txt

recursive-include scripts *
recursive-include tests *

global-include *.pyi

# For mnemonics
recursive-include eth_account/hdaccount/wordlist *txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune .tox
prune venv*
